#about {
  .container {
    .about {
      padding: 100px 0;
      .head {
        .title {
          font-size: 40px;
          font-weight: 700;
        }
      }
      .boxes {
        .col {
          .box {
            box-shadow: 0px 20px 60px 0px rgba(246, 33, 75, 0.3);
            border-radius: 15px;
          }
        }
      }
    }
  }
}
