.menu-icon {
  display: none;
}
header {
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: #fff;
  .header-con {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      .we-beliver {
        font-size: 15px;
        font-weight: 600;
        width: 200px;
        @media only screen and (max-width: 991px) {
          display: none;
        }
      }
      .num-tel {
        display: flex;
        gap: 10px;
        @media only screen and (max-width: 991px) {
          display: none;
        }
        .num {
          text-decoration: none;
          color: black;
          display: flex;
          align-items: center;
        }
        .tel-icon {
          padding: 15px 20px;
        }
      }
      .nav-menu {
        display: none;
        @media only screen and (max-width: 991px) {
          display: block;
        }
      }
    }
  }
  .nav-con {
    @media only screen and (max-width: 991px) {
      display: none;
    }
    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0;
      nav {
        .nav-ul {
          display: flex;
          gap: 30px;
          li {
            a {
              text-decoration: none;
              color: black;
              font-size: 13px;
              font-weight: 600;
              transition: 0.5s;
              &:hover {
                color: #f6214b;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .menu-icon {
    // display: none;
    transition: 0.5s;

    &.showmenu {
      display: flex;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.9);
      margin-top: 60px;
      height: 80%;
      width: 20%;
      padding: 40px 20px;
      z-index: 12;
      .menu-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        transition: 0.5s;
        li {
          a {
            color: white;
            text-decoration: none;
            transition: 0.3s;
            &:hover {
              color: #f6214b;
            }
          }
        }
      }
    }
  }
}
