* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  background-color: burlywood;
  width: 100%;
  position: fixed;
  @media only screen and (max-width: 576px){
    background-color: black;
  }
  .header {
    height: 80px;
    // padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
      //   width: 100%;
      display: flex;
      align-items: center;
      @media only screen and (max-width: 991px) {
        display: none;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
        li {
          a {
            text-decoration: none;
            padding: 10px 20px;
            color: black;
            border: 1px solid transparent;
            border-radius: 8px;
            @media only screen and (max-width: 576px){
              color: white;
            }
            &:hover {
              color: red;
              border-color: black;
            }
          }
        }
      }
    }
    .menu-icon {
      display: none;
      @media only screen and (max-width: 991px) {
        display: block;
      }
    }
  }
}
#home {
  height: 100vh;
  background-image: url("../img/bg-dark.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0%;
  @media only screen and (max-width: 576px) {
    height: 200vh;
    background-image: url("../img/bg-respons.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0%;
  }
}
#table {
  height: 100vh;
  h3 {
    border-bottom: 2px solid red;
  }
  table {
    @media only screen and (max-width: 991px) {
      display: none;
    }
    tbody {
      tr {
        td {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}

.allCards {
  @media only screen and (min-width: 991px) {
    display: none;
  }
  .card {
    padding: 10px;
    background-color: gray;
    @media only screen and (max-width: 576px) {
      height: 120px;
    }
    .top {
      .id {
        color: blue;
        margin-right: 5px;
      }
      .date {
        color: green;
      }
    }
    .bottom {
      display: flex;
      gap: 10px;
      position: relative;
      .img {
        img {
          width: 30px;
          height: 30px;
        }
      }
      .buttons {
        position: absolute;
        right: 0;
        bottom: 3px;
        @media only screen and (max-width: 576px) {
          left: 40px;
          top: 35px;
        }
      }
    }
  }
}
